{% extends "layout.html" %}
{% block content %}
    <div class="content-section" style="text-align: center; width: 1000px; margin: 0 auto;">
        <div class="article-metadata"><a class="mr-2">Projekt z Podstaw Kryptologii Współczesnej</a></div>
        <h2><a class="article-title">PRZESYŁANIE PLIKU</a></h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Prześlij>
        </form>
    </div>
{% endblock %}